body{
    background-color: burlywood;
}

*{
    padding: 0%;
    margin: 0%;
}

header{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background-color: dodgerblue;
    color: darkkhaki;
}
.container{
text-align: center;
margin-top: 0px;

}

.col-25 {
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-top: 50px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    font-weight: bold;
    margin-top: 50px;
    text-align: center;
  }

  input[type="text"],input[type="email"],input[type="file"],input[type="number"],select,textarea,option,input[type="password"],input[type="date"]{
      width: 500px;
      color: tan;
      background-color: whitesmoke;
      font-weight: bold;
      text-align: center;

  }
#GENDER{
    display: inline;
    align-content: center;
    float: inline-end;
}
input[type="checkbox"],input[type="radio"]{
    display: inline;
    width: 40px;
    font-weight: bold;
    
}
input[type=submit] {
    background-color: greenyellow;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  footer{
    position: sticky;
    bottom: 0;
    background-color: aqua;
    color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }